#Файлы грузятся с сервера. Пока не актуальны. Поэтому игнорируем их
logo.svg
cover.jpg

# Игнорировать каталог node_modules 
node_modules/ 

# Игнорирование логов 
logs 
*.log 

# Игнорирование каталога со сборкой проекта
/dist 

# Игнорирование файла содержащий переменные окружения  
.env 

# Игнорирование файлов специфичных для IDE 
.idea/ 
.vscode/ 
*.sw*